.Origami{
    display: flex;
    justify-content: space-between;
}

.Header{
    color:#8a2be2;
}

.Heading1{
    color:rgb(54, 70, 70);
    font-weight:bold;
}

.Heading2{
    color:cyan;
    font-weight: bold;
}

.Heading3{
    color:salmon;
    font-weight: bold;
}
body{
    background-color: lemonchiffon;
}